html
{
    font: 12px Comfortaa;
    margin-top: 0;
}

nav
{
    padding: 15px;
    top: 0;
    width: 100%
}

nav ul
{
    padding: 0;
    list-style-type: none;
}

nav ul li
{
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

nav a
{
    text-decoration: none;
    color: grey
}
nav a:hover
{
    color: lightgray
}

.navcontainer
{
    justify-content: center;
    display: flex;
}

/* fonts */
@font-face 
{
    font-family: Comfortaa;
    src: url(fonts/Comfortaa-Regular.ttf);
}

@font-face 
{
    font-family: Comfortaa;
    src: url(fonts/Comfortaa-Bold.ttf);
    font-weight: bold;
}

@font-face 
{
    font-family: Comfortaa;
    src: url(fonts/Comfortaa-Light.ttf);
    font-weight: lighter;
}